$green: #7AC74C;
$blue: #2E52ED;
$yellow: #FDCA40;
$orange: #EE8434;
$red: #E15554;
$purple: #C97ECE;
$black: #31393C;
$white: #fff;
$clear: transparent;

.green{
  background-color: $green;
}

.blue{
  background-color: $blue;
}

.yellow{
  background-color: $yellow;
}

.orange{
  background-color: $orange;
}

.red{
  background-color: $red;
}

.purple{
  background-color: $purple;
}

.black{
  background-color: $black;
}

.white{
  background-color: $white;
}

.clear{
  background-color: $clear;
}