$green: #7AC74C;
$blue: #2E52ED;
$yellow: #FDCA40;
$orange: #EE8434;
$red: #B20000;
$purple: #C97ECE;
$black: #31393C;
$white: #fff;
$clear: transparent;
$palette1: #2E3840;
$palette2: #4481A6;
$palette3: #589FBF;
$palette4: #82C5D9;
$palette5: #CEEBF2;

.green{
  background-color: $green;
}

.blue{
  background-color: $blue;
}

.yellow{
  background-color: $yellow;
}

.orange{
  background-color: $orange;
}

.red{
  background-color: $red;
}

.purple{
  background-color: $purple;
}

.black{
  background-color: $black;
}

.white{
  background-color: $white;
}

.clear{
  background-color: $clear;
}

.gray{
  background-color: whitesmoke;
}

.palette1{
  background-color: $palette1;
}

.palette2{
  background-color: $palette2;
}

.palette3{
  background-color: $palette3;
}

.palette4{
  background-color: $palette4;
}

.palette5{
  background-color: $palette5;
}

.text-palette1{
  color: $palette1;
}

.text-palette2{
  color: $palette2;
}

.text-palette3{
  color: $palette3;
}

.text-palette4{
  color: $palette4;
}

.text-palette5{
  color: $palette5;
}

.text-white{
  color: $white;
}