@import './Colors.scss';
@import './Sizes.scss';

html,body{
  height: 100%;
  background-color: whitesmoke;
}
.home-wrapper{
  .pokemon-home-wrapper{
    padding-top: 3rem;
  }
  .music-recognition-home-wrapper{
    .hero-head{
      padding-top: 3rem;
    }
  }
  .column{
    div{
      border-radius: 1em;
    }
  }
}
