@import './Colors.scss';
@import './Sizes.scss';

html,body{
  height: 100%;
  background-color: whitesmoke;
}
#app{
  height: 100%;
}
.app{
  height: 100%;
}
.home-wrapper{
  .hero-head{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
  }
  .header-wrapper{
     box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.80);
    .hero-head{
      padding: unset;
    }
  }
  .pokemon-home-wrapper{
   
  }
  .music-recognition-home-wrapper{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.80);
    .hero-head{
      padding-top: 3rem;
    }
  }
  .column{
    div{
      border-radius: 1em;
    }
  }
}
