@import './Colors.scss';

.music-recognition-wrapper{
  .record-button{
    display: inline-block;
    cursor: pointer;
    .microphone{
      height: 96px;
      width: 96px;
      opacity: .6;
      transition: opacity .2s;
      .line{
        fill: $black;
      }
    }
  }
  .record-button:hover{
    display:inline-block;
    .microphone:hover{
      opacity: 1;
    }
  }
  .recording{
    .microphone{
      animation-name: toOpaque;
      animation-duration: .8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      .line{
        fill: $red;
      }
    }
  }
  @keyframes toOpaque{
    from{
      opacity: .7;
    }
    to{
      opacity: 1;
    }
  }
  @keyframes toLight{

  }

}