@import './Colors.scss';
.pokemon-wrapper{
  position: relative;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.40);
  .reload-button{
    position: absolute;
    right: 1.5rem;
    height: 24px;
    width: 24px;
  }
  .reload{
    height: 100%;
    width: 100%;
    cursor: pointer;
    .line{
      stroke: #4a4a4a;
      stroke-width: 3;
    }
    .arrow{
      fill: #4a4a4a;
      stroke: #4a4a4a;
    }
    &:hover{
      .line{
        stroke: white;
        stroke-width: 3;
      }
      .arrow{
        fill: white;
        stroke: white;
      }
    }
  }
}