.smallh{
  min-height: 10em;
}

.mediumh{
  min-height: 30em;
}

.largeh{
  min-height: 70em;
}

.fullh{
  min-height: 100em;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}